<!-- Loop over each object in the posts array -->
{{#each post as |post| }}
<div class="row mb-4 post">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>{{post.content}}</p>
    <p>Written by {{post.user_id}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-1"></div>
</div>
{{/each}}
